body{
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    background: #E5E5E5;
}

.wrapper{
    background-color: #ffffff;
    width: 320px;
    height: 533px;
    /**margin: 0 auto;**/
    
}
.programm{
    padding: 8px;
}

.btn{
    background-color: #ffffff;
    border: 1px solid #000000;
    cursor: pointer;
    padding: 6px 8px 7px 8px;
}

.settings{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.chat{
    width: 287px;
    min-height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 8px;
}

.chat-body{
    overflow: hidden auto;
    height: 419px;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #000000;
}

.chat-body::-webkit-scrollbar {
    width: 0;
}


.message{
    padding: 8px;
    flex-wrap: wrap;
    flex-direction: column;
}


.me{
    display: flex;
    align-self: flex-end; 
    
}

.interlocutor{
    display: flex;
    align-self: flex-start;
}

.message-time{
    font-style: italic;
    align-self: flex-end; 
    color: #333333;
    font-size: 14px;
}

.read{
    background-color: #E5E5E5;
}

.unread{
    background-color: #F6F6F6;
}

input{
    border: none;
    margin: 0;
    padding: 0;
}


.input-message{
    display: flex;
    justify-content: space-between;
}

.input-text{
    border: 1px solid #000000;
    width: 260px;
    height: 17px;
    padding: 6px 0 7px 7px;
}

.submit-btn{
    border: 1px solid #000000;
    width: 27px;
    height: 32px;
    margin: 0;
    padding: 6px 0 7px 0;
    cursor: pointer;
    background-color: #ffffff;

}


/**MODALS 2-3----------------------------------------------------------------------------**/

.body-modals{
    background: #535353;
    width: 321px;
    height: 533px;
    /**margin: 0 auto;**/
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 8px;
    z-index: 1000;

}


.wrapper-modals{
    background-color: #ffffff;
    width: 245px;
    height: 319px;
    padding: 14px;
}

.settings-modals{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.btn-settings{
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
}

.btn-cross{
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: #535353;
    font-size: 10px;
    font-weight: 600;
}
label{
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: inherit;
}

input::placeholder{
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
}


.input-modals{
    margin-top: 8px;
}

.input-message-modals{
    display: flex;
    justify-content: space-between;
}

.input-text-modals{
    border: 1px solid #000000;
    width: 189px;
    height: 18px;
    padding: 6px 8px 6px 8px;
}


.submit-btn-modals{
    border: 1px solid #000000;
    width: 30px;
    height: 32px;
    margin: 0;
    cursor: pointer;
    background-color: #ffffff;
}


.input-text-authorization{
    border: 1px solid #000000;
    width: 229px;
    height: 18px;
    padding: 6px 8px 6px 8px;
    margin-bottom: 7px;
}